<div class="p-10">
    <form [formGroup]="produtor">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite seu nome" formControlName="nome">
            <mat-error *ngIf="produtor.controls['nome'].getError('pattern')">Nome inválido</mat-error>
            <mat-error *ngIf="produtor.controls['nome'].getError('required')">Nome obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cpf ou Cnpj</mat-label>
            <input matInput placeholder="Digite seu cpf ou cnpj" formControlName="cpf_cnpj" [mask]="mask_cpf_cnpj">
            <mat-error *ngIf="produtor.controls['cpf_cnpj'].getError('invalido')">Cpf/Cnpj inválido</mat-error>
            <mat-error *ngIf="produtor.controls['cpf_cnpj'].getError('required')">Cpf/Cnpj obrigatório</mat-error>
        </mat-form-field>
        <div class="flex flex-row justify-between">
            <button (click)="fechar()"
                class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded cursor-pointer">
                Cancelar
            </button>
            <button (click)="adicionarProdutor()" [disabled]="!produtor.valid"
                [ngClass]="produtor.valid ? 'bg-green-500 hover:bg-green-600': 'bg-green-200'"
                class=" text-white font-medium py-2 px-4 rounded cursor-pointer">
                <span *ngIf="!data?.produtor?.id">
                    Adicionar
                </span>
                <span *ngIf="data?.produtor?.id">
                    Editar
                </span>
            </button>
        </div>
    </form>
</div>