<div class="flex flex-col pt-6 gap-6">
    <div *ngFor="let propriedade of propriedades" class="flex flex-row bg-white hover:bg-gray-200 rounded w-full cursor-pointer p-4 gap-6" (click)="navega('propriedade', propriedade.id)">
        <div class="flex flex-col justify-center gap-1">
            <div class="text-3xl font-medium">
                {{ propriedade.nome }}
            </div>
            <div class="text-lg text-gray-800">
                {{ propriedade.area_agricultavel }}
            </div>
        </div>
    </div>
</div>