<div class="p-10">
    <form [formGroup]="plantio">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cultura</mat-label>
            <input type="text" placeholder="Digite ou selecione uma cultura" matInput formControlName="cultura"
                [matAutocomplete]="culturasComplete">
            <mat-autocomplete #culturasComplete="matAutocomplete">
                @for (cultura of culturaFiltradas | async; track cultura) {
                <mat-option [value]="cultura.descricao">{{cultura.descricao}}</mat-option>
                }
            </mat-autocomplete>
            <mat-error *ngIf="plantio.controls['cultura'].getError('required')">
                Campo obrigatório
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Safra</mat-label>
            <input type="text" placeholder="Digite ou selecione uma safra" matInput formControlName="safra"
                [matAutocomplete]="safrasComplete" >
            <mat-autocomplete #safrasComplete="matAutocomplete">
                @for (safra of safraFiltradas | async; track safra) {
                <mat-option [value]="safra.ano">{{safra.ano}}</mat-option>
                }
            </mat-autocomplete>
            <mat-error *ngIf="plantio.controls['safra'].getError('required')">
                Campo obrigatório
            </mat-error>
            <mat-error *ngIf="plantio.controls['safra'].getError('max')">
                Safra maior que ano atual
            </mat-error>
            <mat-error *ngIf="plantio.controls['safra'].getError('min')">
                Duvido que você plantou algo antes de 1900
            </mat-error>
        </mat-form-field>
        <div class="flex flex-row justify-between">
            <button (click)="fechar()"
                class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded cursor-pointer">
                Cancelar
            </button>
            <button (click)="adicionarPlantio()"
                [ngClass]="plantio.valid ? 'bg-green-500 hover:bg-green-600': 'bg-green-200'"
                class="text-white font-medium py-2 px-4 rounded cursor-pointer">
                Adicionar
            </button>
        </div>
    </form>
</div>