<div class="flex flex-row justify-between gap-6 w-full h-20">
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
</div>

<app-propriedades></app-propriedades>