<div class="flex flex-row justify-between gap-6 w-full h-20">
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            97
        </div>
        <div>
            Produtores
        </div>
    </div>
</div>
<div class="flex flex-row justify-end pt-4">
    <button class="bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded cursor-pointer" (click)="adicionarPropriedade()">
        Adicionar
    </button>
</div>
<app-propriedades></app-propriedades>