<div class="flex flex-row justify-between pt-4">
    <span class="text-4xl font-medium">Produtor</span>
</div>
<div class="flex flex-row justify-between gap-6 w-full h-20">
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            {{cards.quantidade_propriedades}}
        </div>
        <div>
            Propriedades
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            {{cards.total_hectar}} ha
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            {{cards.quantidade_culturas}} Culturas
        </div>
    </div>
    <div class="flex flex-col bg-white items-center justify-center w-full">
        <div>
            {{cards.quantidade_safras}} Safras
        </div>
    </div>
</div>

<app-propriedades></app-propriedades>