<div class="flex flex-row w-full h-full">
	<div class="flex flex-col w-3/12 h-full p-3 gap-4 bg-white">
		<img src="logo.png" />
		<div>
			<button mat-button class="w-full" (click)="navega('inicio')">
				<mat-icon>stacked_line_chart</mat-icon>
				Início
			</button>
			<button mat-button class="w-full" (click)="navega('produtores')">
				<mat-icon>persons</mat-icon>
				Produtores
			</button>
			<button mat-button class="w-full" (click)="navega('propriedades')">
				<mat-icon>house</mat-icon>
				Propriedades
			</button>
		</div>
	</div>
	<div class="w-full">
		<div class="flex flex-row h-16 pt-3 pr-3 justify-end items-center">
			<div class="flex flex-col w-12 h-12 rounded-full bg-green-500 text-white items-center justify-center">
				AN
			</div>
		</div>
		<div class="p-10">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>